@using PanArabInternationalApp.Models
@{
    ViewBag.Title = "Medical";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<link href="~/dist/css/AdminLTE.css" rel="stylesheet" />
<link href="~/adminLite/bootstrapSwitch/bootstrap-toggle.min.css" rel="stylesheet" />

<style>
    .field-validation-error {
        color: red;
    }

    .toggle.android {
        border-radius: 0px;
        height: 20px;
    }

        .toggle.android .toggle-handle {
            border-radius: 0px;
        }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Medical Information</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">

                    </div>
                    <div class="col-md-12">
                        <!-- Custom Tabs -->
                        @using (Html.BeginForm(FormMethod.Post))
                        {
                            <div class="nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">Pending Medical List </a></li>
                                    <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Complete Medical List</a></li>
                                    <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1">

                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)

                                        <div class="tab-pane" id="tab_1">
                                            <table id="example1" class="table table-bordered table-striped dt-responsive" cellspacing="0">
                                                <thead>
                                                    <tr>
                                                        <th>Form SL </th>
                                                        <th>Passenger Name</th>
                                                        <th>Passport No</th>
                                                        <th>Medical Date</th>
                                                        <th>Med.Report</th>
                                                        <th>ContactAmount</th>
                                                        <th>Remarks</th>

                                                        <th>Med Exp.Date </th>
                                                        <th>Action</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @{
                            foreach (var VARIABLE in (List<Medical>)ViewBag.MedicalList)
                            {
                                <tr>
                                    <td>@VARIABLE.Formsl</td>
                                    <td>@VARIABLE.PName</td>
                                    <td>@VARIABLE.PassNo</td>
                                    @{
                                if (VARIABLE.MedicalDate == Convert.ToDateTime("1/1/0001 12:00:00 AM"))
                                {
                                    <td><input type="text" id="medicalDate" class="form-control date" placeholder="Medical Date" /></td>

                                }
                                else
                                {
                                    <td><input type="text" id="medicalDate" value="@VARIABLE.MedicalDate" class="form-control date" placeholder="Medical Date" /></td>

                                }
                                    }
                                    <td>
                                        <label class="checkbox-inline">
                                            @if (VARIABLE.MedicalReport == "UN-FIT")
                                            {
                                                <input type="checkbox" data-style="android" data-onstyle="success" id="medicFitUnfit" data-toggle="toggle" data-on="FIT" data-off="@VARIABLE.MedicalReport">

                                            }
                                            else
                                            {
                                                <input type="checkbox" data-style="android" data-onstyle="success" checked="checked" id="medicFitUnfit" data-toggle="toggle" data-on="@VARIABLE.MedicalReport" data-off="UN FIT">

                                            }
                                        </label>
                                    </td>

                                    <td><input type="text" id="medicalAmount" value="" class="form-control" placeholder="Medical Contact Amount" /></td>


                                    <td><textarea name="" class="form-control">@VARIABLE.Remarks</textarea></td>
                                    @if (VARIABLE.MedicalExpDate == Convert.ToDateTime("1/1/0001 12:00:00 AM"))
                                    {
                                        <td><input type="text" id="medicaExpDate" class="form-control date" placeholder="Medical EXP DATE" /></td>

                                    }
                                    else
                                    {
                                        <td><input type="text" id="medicaExpDate" class="form-control date" placeholder="Medical EXP DATE" value="@VARIABLE.MedicalExpDate" /></td>

                                    }
                                    <td>

                                        <button type="button" id="action" class="btn btn-default btn-sm"><i class="fa fa-edit "></i></button>

                                    </td>
                                </tr>
                            }
                                                    }

                                                </tbody>
                                                <tfoot>
                                                    <tr>
                                                        <th>Form SL </th>
                                                        <th>Passenger Name</th>
                                                        <th>Passport No</th>
                                                        <th>Medical Date</th>
                                                        <th>Med.Report</th>
                                                        <th>ContactAmount</th>
                                                        <th>Remarks</th>

                                                        <th>Med Exp.Date </th>
                                                        <th>Action</th>
                                                    </tr>
                                                </tfoot>
                                            </table>
                                        </div>





                                    </div>
                                    <div class="tab-pane" id="tab_2">

                                        <table id="example2" class="table table-bordered table-striped dt-responsive" >
                                            <thead>
                                                <tr>
                                                    <th>Form SL </th>
                                                    <th>Passenger Name</th>
                                                    <th>Passport No</th>
                                                    <th>Medical Date</th>
                                                    <th>Med.Report</th>
                                                    <th>Remarks</th>
                                                    <th>Med Exp.Date </th>
                                                    <th>Action</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                            foreach (var VARIABLE in (List<Medical>)ViewBag.MedicalListClear)
                            {
                                <tr>
                                    <td>@VARIABLE.Formsl</td>
                                    <td>@VARIABLE.PName</td>
                                    <td>@VARIABLE.PassNo</td>
                                    <td>@VARIABLE.MedicalDate</td>

                                    <td>
                                        @VARIABLE.MedicalReport
                                    </td>
                                    <td>
                                        @VARIABLE.Remarks
                                    </td>
                                    <td>
                                        @VARIABLE.MedicalExpDate
                                    </td>

                                    <td>

                                        <button type="button" id="" class="btn btn-default btn-sm" onclick="location.href='@Url.Action("RetriveEditForm", "Passenger", new { formId =VARIABLE.Formsl,pageName=ViewBag.Title})'"><i class="fa fa-edit "></i></button>

                                    </td>
                                </tr>
                            }
                                                }

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Form SL </th>
                                                    <th>Passenger Name</th>
                                                    <th>Passport No</th>
                                                    <th>Medical Date</th>
                                                    <th>Med.Report</th>
                                                    <th>Remarks</th>
                                                    <th>Med Exp.Date </th>
                                                    <th>Action</th>
                                                </tr>
                                            </tfoot>
                                        </table>







                                    </div>
                                    <!-- /.tab-pane -->
                                    <!-- /.tab-pane -->
                                </div>
                                <!-- /.tab-content -->
                            </div>
                        }
                        <!-- nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
        </div>
    </div>

</div>




<script src="~/Scripts/jquery-1.8.2.js"></script>
@Scripts.Render("~/bundles/jqueryval")
<script src="~/adminLite/bootstrapSwitch/bootstrap-toggle.min.js"></script>
@*<script src="http://www.showcasecondos.com/extensions/Responsive/js/dataTables.responsive.js"></script>*@

@section scripts
{
    <script type="text/javascript">

        $('.date').datepicker({
            autoclose: true
        });

        $("#example1").on('click', '.toggle', fitUnFit);

        function fitUnFit() {
            var table = $('#example1').DataTable();

            var index = $(this).closest('td').parent()[0].sectionRowIndex;

            var MedicalReport = table.cell(index, 4).nodes().to$().find('input').prop('checked');
            if (MedicalReport === true) {
               // MedicalReport = "FIT";
                table.cell(index, 5).nodes().to$().find('input').attr('readonly', false);
            } else {
             
                table.cell(index, 5).nodes().to$().find('input').attr('readonly', true);
            }

           
        }


        $("#example1").on('click', '#action', action);
        $("#example2").on('click', '#action', function() {

            alert('Edit');
        });


        function action() {
            var table = $('#example1').DataTable();

            var index = $(this).closest('td').parent()[0].sectionRowIndex;

            //var data = table.row(index).data();


            var FormSl = table.cell(index, 0).data();
            var PName = table.cell(index, 1).data();
            var PassNo = table.cell(index, 2).data();
            var MedicalDate = table.cell(index, 3).nodes().to$().find('input').val();
            var MedicalReport = table.cell(index, 4).nodes().to$().find('input').prop('checked');
            if (MedicalReport === true) {
                MedicalReport = "FIT";
            } else {
                MedicalReport = "UN-FIT";
            }
            var MedicalContactAmount = table.cell(index, 5).nodes().to$().find('input').val();
            var remarks = table.cell(index, 6).nodes().to$().find('textarea').val();
            var MedicalExpDate = table.cell(index, 7).nodes().to$().find('input').val();


            var value = {
                Formsl: FormSl,
                PName: PName,
                PassNo: PassNo,
                MedicalDate: MedicalDate,
                MedicalReport: MedicalReport,
                Remarks: remarks,
                MedicalExpDate: MedicalExpDate,
                MedicalContactAmount: MedicalContactAmount
            }

            if (value.MedicalDate === '') {
                alert('Please Select Medical Date');
                return;
            }

            if (value.Remarks === '') {
                alert('Please Medical Remarks');
                return;
            }

            if (value.MedicalExpDate === '') {
                alert('Please Select Medical Exp.Date');
                return;
            }


            $.ajax({
                type: "POST",
                url: '/Passenger/Medical',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(value),
                success: function (data) {

                    alert(data);

                    var url = '@Url.Action("Medical", "Passenger")';
                    window.location.href = url;
                }
            });








            //var data = table.row(index).data();
            // var data1 = $(this).find("td:eq(5) input[type='text']").val();
            //var remarks = data[3];

            // var remarks=   data[4].find('input');





        }

        //$('#example1 tbody').on('click', 'tr', function () {


        //    //alert('You clicked on ' + data[0] + '\'s row');
        //});
        $('#example1').DataTable({
            responsive: true,
            "scrollX": true
        });
        $('#example2').DataTable({
            responsive: true,
            "scrollX": true
        });
    </script>
}