@{
    ViewBag.Title = "PC_ConsoleLetter";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<link href="~/dist/css/AdminLTE.css" rel="stylesheet" />

@using PanArabInternationalApp.Models
@model PanArabInternationalApp.Models.PC_ConsoleLetter

<style>
    .field-validation-error {
        color: red;
    }

    #example1 thead, tfoot {
        font-size: 12px;
        font-family: monospace;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <h3 class="box-title">Police Clearence & Console Letter Information</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        @if (ViewBag.Message != null)
                        {
                            <div class="modal fade" id="modal-default">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h4 class="modal-title">Message</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>@ViewBag.Message</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>

                                        </div>
                                    </div>
                                    <!-- /.modal-content -->
                                </div>
                                <!-- /.modal-dialog -->
                            </div>
                        }

                    </div>
                    <div class="col-md-12">
                        <!-- Custom Tabs -->
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">Police Verification</a></li>
                                <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Complete Verification</a></li>
                                <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_1">
                                    @using (Html.BeginForm("PC_ConsoleLetter", "Passenger", FormMethod.Post, new { enctype = "multipart/form-data",@id="pcForm" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true)

                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa  fa-bars"></i></span>

                                                    <select class="form-control select2" id="Formsl" name="FormSlNo" placeholder="Select Passenger">
                                                        <option value="">Select Passenger</option>
                                                        @foreach (var value in ViewBag.ListOfPassenger)
                                                        {

                                                            <option value="@value.FormSl">@value.FormSl</option>

                                                        }
                                                    </select>
                                                </div>


                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-male"></i></span>
                                                    @Html.TextBoxFor(model => model.PName, new { @class = "form-control", @readonly = true, placeholder = "Passenger Name" })

                                                </div>
                                            </div>

                                            <div class="form-group  col-md-6" style="padding-left: 0">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-male"></i></span>
                                                    @Html.TextBoxFor(model => model.PassportNo, new { @class = "form-control", @readonly = true, placeholder = "Passport" })

                                                </div>

                                            </div>
                                            <div class="form-group  col-md-6" style="padding-right: 0">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar-check-o"></i></span>
                                                    @Html.TextBoxFor(model => model.ClearenceDate, new { @class = "form-control", placeholder = "PC Date" })

                                                </div>

                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="pasge-header">
                                                <h3 class=""><span class="text-red">P O L I C E</span> - <span class="text-green">C L E A R E N C E</span></h3>
                                            </div>

                                            <div class="form-group">

                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        @Html.RadioButtonFor(model => model.PCtype, "by Own", new { id = "byOwn" })
                                                    </span>
                                                    <label class="form-control">by Own</label>
                                                    <span class="input-group-addon">
                                                        @Html.RadioButtonFor(model => model.PCtype, "by Agency", new { id = "byAgency" })
                                                    </span>
                                                    <label class="form-control">by Agency</label>

                                                </div>
                                                @Html.ValidationMessageFor(model => model.PCtype)

                                            </div>
                                            <div class="form-group" id="optionnal" style="display: none">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-money (alias)"></i></span>
                                                    @Html.TextBoxFor(model => model.PcContactAmmount, new { @class = "form-control", placeholder = "Contract Amount" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.PcContactAmmount)

                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar-check-o"></i></span>
                                                    @Html.TextAreaFor(model => model.PcStatus, new { @class = "form-control", placeholder = "PC Status", @id = "pcstatus" })
                                                </div>
                                                @Html.ValidationMessageFor(model => model.PcStatus)
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="pasge-header">
                                                <h3 class=""><span class="text-red">C O N S O L E</span> - <span class="text-green">L E T T E R</span></h3>
                                            </div>

                                            <div class="form-group">

                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        @Html.RadioButtonFor(model => model.Available, "Available", new { id = "CAvaliable" })
                                                    </span>
                                                    <label class="form-control"><span class="text-green">Avalilable</span></label>
                                                    <span class="input-group-addon">
                                                        @Html.RadioButtonFor(model => model.Available, "Not Available", new { id = "CNotAvaliable" })
                                                    </span>
                                                    <label class="form-control"><span class="text-red">Not Avalilable</span></label>

                                                </div>
                                                @Html.ValidationMessageFor(model => model.Available)

                                            </div>
                                            <div class="form-group" id="UploadOption" style="display: none">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa  fa-upload"></i></span>
                                                    @Html.TextBoxFor(model => model.UpoadFileName, new { id = "btnUpload", type = "file", @class = "form-control", placeholder = "File Upload" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.UpoadFileName)

                                            </div>
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <span class="input-group-addon"><i class="fa fa-calendar-check-o"></i></span>
                                                    @Html.TextAreaFor(model => model.ConsoleStatus, new { @class = "form-control", placeholder = "PC Status", @id = "ConsoleStatus" })

                                                </div>
                                                @Html.ValidationMessageFor(model => model.ConsoleStatus)
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="box-footer">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        </div>


                                    }

                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane table-responsive" id="tab_2">
                                    <table id="example1" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>PSL No</th>
                                                <th>Passenger Name</th>
                                              

                                                <th>Clearence Date</th>
                                                <th>Clearence By</th>
                                                <th>Contact Ammount</th>

                                                <th>Download File </th>
                                                <td>ConsoleStatus</td>
                                                <th>Remarks</th>
                                                <th>Action</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var value in (List<PC_ConsoleLetter>)ViewBag.ListOfPC)
                                                {
                                                    <tr>
                                                       
                                                        <td>@value.FormSlNo</td>
                                                        <td>@value.PName</td>
                                                       
                                                        <td>@value.ClearenceDate.ToString("d")</td>
                                                        <td>@value.PcStatus</td>
                                                        <td>@value.PcContactAmmount</td>
                                                        @{
                                                            if (value.UpoadFileName != null)
                                                            {
                                                                <td><a href="#">@value.UpoadFileName.FileName</a></td>
                                                            }
                                                            else
                                                            {
                                                                <td><a href="#">No File Attatch</a></td>
                                                            }

                                                        }
                                                        <td>@value.ConsoleStatus</td>
                                                        <td>@value.ConsoleRemarks</td>
                                                        <td><button type="button" class="btn btn-default btn-sm"><i class="fa fa-edit "></i></button></td>
                                                    </tr>
                                                }
                                        </tbody>

                                        <tfoot>
                                            <tr>
                                                <th>PSL No</th>
                                                <th>Passenger Name</th>
                                                
                                                <th>Clearence Date</th>
                                                <th>Clearence By</th>
                                                <th>Contact Ammount</th>

                                                <th>Download File </th>
                                                <td>ConsoleStatus</td>
                                                <th>Remarks</th>
                                              
                                                <th>Action</th>

                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>

                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                        </div>
                        <!-- nav-tabs-custom -->
                    </div>
                    <!-- /.col -->
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer">

            </div>
        </div>
    </div>

</div>


<script src="~/Scripts/jquery-1.8.2.js"></script>
@Scripts.Render("~/bundles/jqueryval")

@section scripts
{
    <script type="text/javascript">
        $('#ClearenceDate').datepicker({
            autoclose: true,
            format: 'dd-MM-yyyy'
        });
        $('.select2').select2();
        $('.modal').modal();
        $('#example1').DataTable();

        $('#CAvaliable').click(function() {
            var value = $(this).val();


            $('#UploadOption').css("display", "block");


        });

        $('#CNotAvaliable').click(function() {
            var value = $(this).val();

            $('#UploadOption').css("display", "none");

        });
        $('#byOwn').click(function() {


            $('#optionnal').css("display", "none");


        });

        $('#byAgency').click(function() {

            $('#optionnal').css("display", "block");

        });

        $('#byAgency').click(function() {

            $('#optionnal').css("display", "block");

        });
        function ToJavaScriptDate(value) {
            var pattern = /Date\(([^)]+)\)/;
            var results = pattern.exec(value);
            var dt = new Date(parseFloat(results[1]));
            return (dt.getMonth() + 1) + "/" + dt.getDate() + "/" + dt.getFullYear();
        }

        $('.select2').on('change', function() {
            var slNo = this.value;

            //alert(slNo);
            $.ajax({
                type: 'POST',
                dataType: 'json',
                cache: false,
                url: "/Passenger/GetPassengerInfo",
                data: { pid: slNo },
                success: function(result) {
                    $('#PName').val(result.PName);
                    $('#PassportNo').val(result.PassportNo);
                    $('#PcContactAmmount').val(result.PcContactAmmount);
                    $("#ConsoleStatus").val(result.ConsoleStatus);
                    $("#pcstatus").val(result.PcStatus);
                    
                    $('#ClearenceDate').val(ToJavaScriptDate(result.ClearenceDate));
                    if (result.PcContactAmmount > 0) {
                        $('#optionnal').css("display", "block");
                        $('#byAgency').prop('checked', true);
                    }
                 

                },
                error: function(textStatus, errorThrown) {
                    alert('Error - ' + errorThrown);
                    $('form').reset();
                }
            });
        });


    </script>
}


